<div class="container">
    <div class="row">
        <div class="col-lg"></div>
        <div class="col-lg-6">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <h1>Inicio de sesión</h1>
                <p>Introduzca los credenciales para iniciar la sesión</p>
                <p class="psw">
                    ¿No tienes cuenta? Entra
                    <a href="#">aquí</a> para crearla gratis
                </p>
                <hr />
                <label for="email"><b>Correo electrónico</b></label>
                <input 
                type="email" 
                placeholder="Introduzca un email" 
                name="email" #email="ngModel" 
                class="form-control"     
                [(ngModel)]="signIn.email" 
                [pattern]="ReExpEmail" 
                [ngClass]="{'is-valid': !email.invalid, 'is-invalid' : email.invalid }" 
                required />
                <div class="alert alert-danger" 
                *ngIf="email.invalid && email.dirty && email.touched"> 
                <div *ngIf="email.errors?.['required']"> Introduzca un correo Electronico Valido </div> 
                <div *ngIf=" email.errors && email.errors?.['pattern']"> Correo Electronico no es un Correo Valido email@email.com </div> 
            </div>

                <label for="password"><b>Contraseña</b></label>
                <input 
                type="password" 
                name="password" 
                #password="ngModel" 
                [(ngModel)]="signIn.password" 
                class="form-control"
                [ngClass]="{'is-valid': !password.invalid, 'is-invalid' : password.invalid }"
                placeholder="Introduzca una Contraseña" 
                name="password"
                minlength="4"
                required />
                <div class="alert alert-danger" 
                *ngIf="password.invalid && password.dirty && password.touched"> 
                <div *ngIf="password.errors?.['required']"> Introduzca una Contraseña</div> 
                <!-- <div *ngIf=" password.errors && password.errors?.['pattern']"> La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico.
                    Ejemplo: abcDefg1@  </div> -->
            </div>

                <div class="row">
                    <div class="col-lg">
                        <button type="submit" class="signup-btn" [disabled]="f.invalid">Iniciar sesión</button>
                    </div>
                </div>
                <div class="more-options">
                    <p class="psw">
                        ¿Has olvidado la <a [routerLink]="['/forgot']">contraseña?</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-lg"></div>
    </div>
</div>