<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading ">
        <a routerLink="admin">
            <i class="fa-solid fa-toolbox"></i> Panel Administracion
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="/admin"> <i
                class="fa-solid fa-chart-line"></i> Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3"  routerLink="/admin/users"> <i class="fa-solid fa-users"></i>
            Users</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3"  routerLink="/admin/genres"> <i
                class="fa-solid fa-venus-mars"></i> Genres</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"> <i
                class="fa-brands fa-product-hunt"></i> Products</a>
    </div>
</div>