@import '../../../../../assets/styles/admin.scss';
@import '../../../../../assets/styles/colors.scss';


#sidebar-wrapper{
    background-color: #181f2c !important;
}

.sidebar-heading{
    a{
        color: whitesmoke;
        text-decoration: none;
    }
}