<footer>
    <hr />
    <div class="container text-center">
        <address>
            <p> Game Shop 2022 - !VideoJuegos al Mejor Precio! ( pagina Educativa ) </p>
            <p> Ciudad Falsa, Provincia Falsa, Pais Falso, 000019 
                Tel: 943 75 00 00 00 / 66 00 00 00 - Contacto: correofalso@correo.com
                <a class="nav-link" routerLink="contact" routerLinkActive="router-link-active">Contacta con Nosotros</a>
            </p>
        </address>
        <ul class="nav justify-content-center">
            <li> <a href="#" target="_blank"> <img class="rounded-pill social" src="assets/images/icons/youtube.png" alt="image de youtube" /></a></li>
            <li> <a href="#" target="_blank"> <img class="rounded-pill social" src="assets/images/icons/facebook.png" alt="image de Facebook" /> </a></li>
            <li> <a href="#" target="_blank"> <img class="rounded-pill social" src="assets/images/icons/instagram.png" alt="image de Youtube" /> </a></li>
        </ul>
    </div>
</footer>
